weights/
bin/
*.gguf
*.pnnx.*
!models-fixed/*.bin
!models-fixed/*.param
__pycache__/
*.pyc
demo/_cmd.wav*
firmware_backup/
firmware/ble_controller/.pio/
firmware/ble_controller/.pioenvs/
firmware/ble_controller/.piolibdeps/
firmware_backup/
